@media (max-width: 768px) {

    /*todo */
    * {
        margin: 0px;
        padding: 0;
        box-sizing: border-box;
    }

    /*fondo */
    #background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background: rgb(2, 0, 36);
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100%);
        filter: opacity(70%) blur(0px);
        z-index: -1;
    }

    /* Cabecera */
    header {
        background-color: #f6f3f1;
        padding: 7px 0;
        border-bottom: 0.1px solid #585858;
        text-align: center;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    header h1 {
        font-size: 33px;
        color: #333d40;
        display: inline-block;
        /* Ajusta el ancho al texto */
        margin: 0;
        /* Elimina márgenes innecesarios */
        padding: 0;
        /* Elimina relleno adicional */
    }

    /*Navegacion*/
    nav ul {
        list-style: none;
        justify-content: left;
        margin-top: 10px;
        margin-bottom: 14px;

    }

    nav ul li {
        margin: 0 15px;
    }

    nav ul li a {
        text-decoration: none;
        color: #424c55;

        margin-right: 15px;
        margin-left: 15px;
        font-weight: 550;
        font-size: 17px;

    }

    nav ul li a:hover {
        color: #007BFF;
    }

    /*Solicitudes (contacto)*/
    #checkout {
        max-width: 600px;
        margin: 30px;
        margin-bottom: 70px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 3px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }

    #checkout button {
        max-width: 140px;
        margin-top: 7px;

    }

    #checkout button:active {
        transform: scale(0.97);

    }

    #checkout h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    form label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    #message {
        height: 50px;
        width: 100%;
    }

    form button {
        width: 100%;
        padding: 9px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 15.5px;
    }

    form button:hover {
        background-color: #45a049;
    }

    #response-message {
        margin-top: 20px;
        text-align: left;
        font-size: 12.3px;
        color: #28a745;
        display: block;
        font-weight: 700;
    }

    /*buscador*/
    #search-bar {
        width: 100%;
        /* Hace que ocupe todo el ancho disponible */
        max-width: 200px;
        /* Limita el tamaño máximo */
        padding: 5px 10px;
        /* Espaciado dentro del input */
        font-size: 16px;
        /* Tamaño de texto */
        border: 1.75px solid #ccc;
        /* Borde gris claro */
        border-radius: 8px;
        /* Bordes redondeados */
        background-color: #f9f9f9;
        /* Fondo suave */
        color: #333;
        /* Color del texto */
        transition: all 0.3s ease;
        /* Transición suave para interacciones */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra sutil */
        margin-top: 10px;
        margin-right: 15px;

        /* Espacio izquierdo */
    }

    #search-bar:focus {
        border-color: #007BFF;
        /* Borde azul cuando está enfocado */
        outline: none;
        /* Elimina el borde predeterminado del navegador */
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
        /* Sombra azul */
    }

    #search-bar:hover {
        border-color: #007BFF;
        /* Cambio de color del borde al pasar el ratón */
        /* Cambia el cursor a mano */
    }

    nav li:last-child {
        margin-right: 0;
        /* Aseguramos que no haya margen extra a la derecha */
        display: flex;
        justify-content: center;
        /* Centra el buscador en la barra de navegación */
        align-items: center;
    }

    .no-results {
        font-size: 17px;
        font-weight: bold;
        color: #ffffff;
        padding: 10px;
        margin-right: 30px
    }

    /*cesta (icono y contador)*/
    .cart {
        position: absolute;
        top: 141.3px;
        right: 23px;

    }

    #cart-icon {
        width: 55px;
        /* Ajusta el tamaño de la imagen de la cesta */
        height: auto;

    }

    #cart-icon:hover {

        /* Ajusta el tamaño de la imagen de la cesta */
        height: auto;
    }

    #cart-count {
        position: absolute;
        top: 30px;
        right: -14px;
        color: rgb(243, 243, 243);
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 40px;
        font-weight: bold;
    }

    .cart button {
        background: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .cart button:focus {
        outline: none;
    }

    #cart-count {

        color: rgb(21, 21, 21);
        border-radius: 42%;
        padding: 0;
        font-size: 15px;
        margin-left: 8px;
        font-weight: bold;
        min-width: 25px;
        text-align: center;
    }

    .cart button::before {
        margin-right: 8px;
        font-size: 1.8rem;
    }

    #cart-icon.shake {
        animation: shake 0.4s ease;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-1.5px);
        }

        50% {
            transform: translateX(1.5px);
        }

        75% {
            transform: translateX(-1.5px);
        }

        100% {
            transform: translateX(0);
        }
    }

    /*cesta (seccion)*/
    #cart {
        border-radius: 3px;
        margin-top: 20px;
        color: rgb(0, 0, 0);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-bottom: 70px;
        max-width: 600px;
        margin: 30px;
        margin-bottom: 70px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }

    .remove-btn {
        background-color: #111;
        /* Color de fondo (azul) */
        color: rgb(248, 248, 248);
        /* Color del texto */
        border: none;
        /* Eliminar borde */
        border-radius: 5px;
        /* Bordes redondeados */
        font-size: 10.5px;
        /* Tamaño de la fuente */
        padding: 4px 11px;
        /* Espaciado interno */
        margin-left: 10px;
        margin-top: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
        /* Transiciones suaves */

        /* Estilo al pasar el mouse */
        &:hover {
            background-color: #222;
            /* Cambiar a un tono más oscuro */
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
            /* Sombra más pronunciada */
        }

        /* Estilo al hacer clic */
        &:active {
            transform: scale(0.97);
            /* Reducir tamaño al hacer clic */
            box-shadow: none;
            /* Eliminar sombra al hacer clic */
        }
    }

    #cart h2 {
        font-size: 2rem;
        margin-bottom: 15px;
        color: rgb(0, 0, 0);
        text-align: center;
    }

    #cart-items {
        list-style: none;
        margin-bottom: 20px;

    }

    #cart-items li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    #cart-items li span {
        font-size: 1.1rem;
    }

    #cart-total2 {
        font-size: 18px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin-top: 20px;
        text-align: center;
    }

    #cart-items:empty {
        text-align: center;
        font-size: 1.2rem;
        color: #777;
    }

    .cart-item-image {
        width: 70px;
        /* Ajusta el tamaño de la imagen */
        height: auto;
        margin-right: 10px;

        /* Espacio entre la imagen y el nombre del producto */
    }

    .item-image-container {
        vertical-align: middle;
    }

    #checkout-button {
        background-color: #4CAF50;
        color: white;
        padding: 9px;
        border: none;
        border-radius: 3px;
        font-size: 15.5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
        align-items: center;
        font-weight: bold;
    }

    #checkout-button:hover {
        background-color: #45a049;

    }

    /* formulario de pago */
    #payment-container {
        position: fixed;
        /* Posiciona el contenedor de manera fija */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f6f3f1;
        display: none;
        /* Oculto por defecto */
        justify-content: center;
        /* Centra el contenido horizontalmente */
        align-items: center;
        /* Centra el contenido verticalmente */
        z-index: 1000;
        padding: 200px;

        /* Asegura que esté por encima de otros elementos */
    }

    #payment-container h2 {
        color: #000000;
        /* Título en blanco */
        text-align: center;
        margin: 20px;
    }

    #payment-form {
        /* Fondo blanco para el formulario */
        width: 24%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding: 30px;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        color: white;
        text-align: center;


        justify-content: center;
        /* Centra el contenido horizontalmente */
        align-items: center;
        /* Centra el contenido verticalmente */

    }

    #payment-form button {
        background-color: #5469d4;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
        width: 100%;
        font-size: 16px;
    }

    #payment-form button:hover {
        background-color: #4357b9;
    }

    #card-element {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 15px;
    }

    #card-errors {
        color: red;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Main */
    main {
        margin-top: 40px;
    }

    /*cuerpo*/
    body {
        font-family: arial, sans-serif;
        background-color: black;
        color: #333;
        line-height: 1.6;
        padding: 0px;
        position: relative;

        /* Necesario para posicionar el overlay */
    }

    /* Home Options */
    #home-options {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin-bottom: 130px;
        flex-wrap: wrap;
        /* Permite que los elementos se ajusten si es necesario */
        max-width: 100%;
        /* Asegura que el contenedor ocupe todo el ancho disponible */
    }

    #home-options div {
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
        padding: 17px;
        max-width: 750px;
        /* Controla el tamaño máximo del contenedor */
        flex-basis: 100%;
        /* Hace que cada div ocupe el ancho completo si el espacio es pequeño */
    }

    #home-options h2 {
        font-size: 23px;
        color: #ffffff;
        margin-bottom: 13px;

        text-shadow: 2px 2px 7px rgb(45, 45, 45);
    }

    #home-options img {
        max-width: 100%;
        /* Las imágenes se ajustarán al 100% del contenedor */
        height: auto;
        transition: transform 0.57s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;

    }

    /*Albums y canciones*/
    #album-list img:hover,
    #songs-list img:hover {
        transform: scale(1.008);
        box-shadow: 0 0 13px rgb(0, 0, 0, 0.6);
    }

    #album-list,
    #songs-list {
        color: white;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Alinea 2 elementos por fila */
        gap: 42px;
        padding: 1px;
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 50px;
    }

    #album-list div,
    #songs-list div {

        text-align: center;
        margin-top: 1px;

        font-size: 9px;

    }

    #album-list button,
    #songs-list button {
        margin-top: 10px;
        cursor: pointer;
        background-color: #007BFF;
        border: none;
        padding: 7px 8px;
        border-radius: 5px;
        color: white;
        transition: background-color 0.3s ease;
        box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.8);
    }

    #album-list button:hover,
    #songs-list button:hover {
        background-color: #006ee4;
        box-shadow: 0px 1px 11px rgba(255, 255, 255, 1);
    }

    #album-list button:active,
    #songs-list button:active {
        transform: scale(0.97);
        box-shadow: none;
    }

    #album-list img,
    #songs-list img {
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;

    }

    #albums h3,
    #songs h3,
    #products h3 {
        color: white;
        text-align: center;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);

    }

    .titulo,
    .titulo2 {
        font-size: 23px;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);
        margin-bottom: 30px;
    }

    /* El precio cambia cada dos productos */
    .price-label {
        color: #ffffff;
        font-size: 10px;
        font-weight: bold;
    }

    .price-normal {
        color: #f5f5f5;
        font-size: 11px;
        font-weight: bold;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);
    }

    .price-discount {
        color: rgb(70, 255, 141);
        font-size: 11px;
        font-weight: bold;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);

    }

    /* quien somos */
    #quien-somos {
        /* Fondo gris suave */
        padding: 40px 20px;
        /* Espaciado alrededor del contenido */
        text-align: center;
        /* Centrar el texto */
    }

    #quien-somos strong {
        color: #e74c3c;
    }

    #quien-somos .container {
        max-width: 1200px;
        /* Máximo ancho del contenido */
        margin: 0 auto;
        /* Centrar el contenedor */
        padding: 5px;
    }

    #quien-somos h2 {
        font-family: 'Lobster', sans-serif;
        font-size: 25px;
        /* Tamaño grande para el encabezado */
        color: #e74c3c;
        /* Color de texto oscuro */
        margin-bottom: 23px;
        font-weight: 500;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        /* Sombra * /* Separación debajo del encabezado */
    }

    #quien-somos p {
        font-size: 10px;
        line-height: 1.6;
        /* Mayor espacio entre líneas para legibilidad */
        color: #ffffff;
        /* Color de texto gris oscuro */
        margin-bottom: 20px;
        /* Espacio entre párrafos */
        /* Limitar el ancho de los párrafos */
        margin-left: auto;
        margin-right: auto;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    }

    /* mensaje de "se ha anadido a la cesta" */
    .added-message {
        position: fixed;
        top: 20px;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 10.7px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        animation: fadeIn 0.3s forwards;
        /* Animación de aparición */
    }

    .added-message.fade-out {
        animation: fadeOut 0.2s forwards;
        /* Animación de desaparición */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    /* Pie de pagina */
    footer {
        background-color: #1a1a1a;
        color: #ffffff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
    }

    footer .contenedor {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    footer .izquierda a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 8px;
    }

    footer .izquierda a:hover {
        text-decoration: underline;
    }

    .pagos-seguro {
        text-align: center;
        padding: 20px 0;
    }

    .metodos-pago {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .metodos-pago img {
        max-height: 40px;

        transition-duration: 0.2s;
    }

    .metodos-pago img:hover {
        max-height: 40px;
        opacity: 0.88;
    }

    .metodos-pago p {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }

    footer hr {
        border: 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        margin: 20px auto;
        width: 97%;


    }

    .derechos {
        font-size: 12px;
        opacity: 0.6;
        margin-top: 10px;
    }

    /* Oferta */
    .oferta-especial {
        background-color: #e8e8e8;
        text-align: center;
        padding: 6px 0;
        color: #737373;
        font-weight: 800;
        font-size: 5px;
        display: flex;
        justify-content: left;
        /* Centra horizontalmente */
        align-items: center;
        /* Centra verticalmente */

        /* Espacio entre el texto y el contador reducido */
        overflow: hidden;
        white-space: nowrap;
    }

    .oferta-temporal {
        color: rgb(214, 47, 47);
        margin-left: 7px;
    }

    /* contador */
    #countdown-container {
        display: flex;
        align-items: center;
        /* Centra verticalmente los elementos */
        background: #000;
        color: #f6f6f6;
        padding: 7px 6px;
        /* Padding reducido aún más */
        border-radius: 3px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        /* Sombra menos pronunciada */
        margin-left: 8px;
        /* Ajuste de margen */
        min-width: auto;

    }

    .countdown-text {
        display: none;
        /* Espacio más pequeño entre el texto y los números */
    }

    #countdown {
        display: flex;
        gap: 4px;

        /* Espacio entre los números reducido aún más */
    }

    .time-box {
        background: #222;
        padding: 3px 1px;
        /* Padding más pequeño */
        border-radius: 3px;
        /* Radio de bordes más pequeño */
        font-size: 7px;
        /* Tamaño de fuente más pequeño */
        font-weight: bold;
        text-align: center;
        min-width: 20px;
        /* Ancho mínimo más pequeño */
        width: 10px;
        /* Ancho reducido aún más */
        color: #eeeeee;

    }

    .time-box small {
        display: block;
        font-size: 4px;
        /* Tamaño de fuente más pequeño */
        font-weight: normal;
        margin-top: 1px;

        color: #c4c4c4;
    }

    .oferta-finalizada {
        font-size: 6px;
        /* Tamaño de fuente */
        font-weight: 700;
        /* Texto en negrita */
        color: #ffffff;
        /* Color rojo para resaltar */
        text-transform: uppercase;
        /* Convertir texto a mayúsculas */
        margin: 5px 0;
        /* Margen superior e inferior */
        background-color: rgb(214, 47, 47);
        margin-left: 50px;
        border: 3.5px solid rgb(214, 47, 47);
        /* Borde rojo */
        border-radius: 3px;
        /* Bordes redondeados */
        display: inline-block;
        /* Para que no ocupe todo el ancho */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Sombra sutil */
        text-align: center;
        /* Centrar el texto */
    }

    /* tipo de envio */
    #envioGratis,
    #envioNoGratis {
        margin-top: 3px;
        padding: 3px;
        color: rgb(22, 22, 22);
        font-weight: bold;
        text-align: center;
        font-size: 13px;
        display: none;
        /* Inicia oculto */
        /* Para una transición suave al mostrar */
        border-bottom: 1px solid #cfcfcf;
        margin-right: 60px;
        margin-left: 60px;
        padding-bottom: 15px;
        margin-top: 8px
    }

    /* barra de carga 0.00/ 20.00 */
    @keyframes progressGlow {
        0% {
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        }

        50% {
            box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
        }

        100% {
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        }
    }

    @keyframes trailEffect {
        0% {
            opacity: 0.8;
            transform: scaleX(1);
        }

        100% {
            opacity: 0;
            transform: scaleX(1.5);
        }
    }

    .progress-container {
        margin: 10px 32px;
        background: linear-gradient(to right, #222, #444);
        border-radius: 19px;
        overflow: hidden;
        height: 15px;
        box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
        position: relative;
    }

    .progress-bar {
        height: 100%;
        width: 0%;
        background: linear-gradient(90deg, #007BFF, #00d4ff);
        text-align: center;
        line-height: 15px;
        color: white;
        font-weight: bold;
        transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
        animation: progressGlow 1.5s infinite alternate ease-in-out;
        position: relative;
    }

    .progress-bar::after {
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        width: 20px;
        height: 10px;
        background: rgba(255, 255, 255, 0.8);
        filter: blur(4px);
        transform: translateY(-50%);
        border-radius: 50%;
        animation: trailEffect 0.6s infinite alternate ease-in-out;
    }

    #progress-text {
        font-size: 12.5px;
        font-weight: 500;
        text-align: center;
        margin-top: 5px;
        color: #131313;
    }

    /* Bloquear la descarga de imagenes */
    .option {
        position: relative;
        text-align: center;
        cursor: pointer;
    }

    .option img {
        pointer-events: none;
        /* Evita interacciones directas */
        user-select: none;
        /* Evita selección accidental */
    }

    .bloqueo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 2;
        /* Coloca la capa por encima de la imagen */
    }
}

@media (min-width: 769px) {

    /*todo */
    * {
        margin: 0px;
        padding: 0;
        box-sizing: border-box;
    }

    /*fondo */
    #background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background: rgb(2, 0, 36);
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(255, 255, 255) 100%);
        filter: opacity(70%) blur(0px);
        z-index: -1;
    }

    /* Cabecera */
    header {
        background-color: #f6f3f1;
        padding: 7px 0;
        border-bottom: 0.1px solid #585858;
        text-align: center;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    header h1 {
        font-size: 65px;
        color: #333d40;
        cursor: pointer;
        display: inline-block;
        /* Ajusta el ancho al texto */
        margin: 0;
        /* Elimina márgenes innecesarios */
        padding: 0;
        /* Elimina relleno adicional */
    }

    h1 {
        cursor: pointer;
    }

    /*Navegacion*/
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 14px;

    }

    nav.fixed {
        position: fixed;
        /* Solo el nav se vuelve 'fixed' */
        top: 0;
        left: 0;
        padding: 10px;
        z-index: 1000;
        /* Asegúrate de que esté por encima de otros elementos */
        width: 100%;
        /* Mantiene el ancho completo */
        background-color: rgba(255, 255, 255, 0.7);
        /* Fondo más transparente */
        opacity: 0.9;
        /* Opacidad más baja */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
        /* Sombra para mejorar la visibilidad */
    }

    nav ul li {
        margin: 0 15px;

    }

    nav ul li a {
        text-decoration: none;
        color: #424c55;
        position: relative;
        margin-right: 15px;
        margin-left: 15px;
        font-weight: 550;
        font-size: 18px;
    }

    nav ul li a:hover {
        color: #007BFF;
    }

    /*Solicitudes (contacto)*/
    #checkout {
        max-width: 600px;
        margin: auto;
        margin-bottom: 70px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 3px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }

    #checkout button {
        max-width: 150px;
        margin-top: 7px;
        cursor: pointer;
    }

    #checkout button:active {
        transform: scale(0.97);

    }

    #checkout h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    form label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    form input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    #message {
        height: 50px;
        width: 100%;
    }

    form button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 3px;
        font-size: 16px;
    }

    form button:hover {
        background-color: #45a049;
    }

    #response-message {
        margin-top: 20px;
        text-align: center;
        font-size: 12.3px;
        color: #28a745;
        display: block;
        font-weight: 700;
    }

    /*buscador*/
    #search-bar {
        width: 100%;
        /* Hace que ocupe todo el ancho disponible */
        max-width: 200px;
        /* Limita el tamaño máximo */
        padding: 5px 10px;
        /* Espaciado dentro del input */
        font-size: 16px;
        /* Tamaño de texto */
        border: 1.75px solid #ccc;
        /* Borde gris claro */
        border-radius: 8px;
        /* Bordes redondeados */
        background-color: #f9f9f9;
        /* Fondo suave */
        color: #333;
        /* Color del texto */
        transition: all 0.3s ease;
        /* Transición suave para interacciones */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        /* Sombra sutil */
        margin-left: 15px;

        /* Espacio izquierdo */
    }

    #search-bar:focus {
        border-color: #007BFF;
        /* Borde azul cuando está enfocado */
        outline: none;
        /* Elimina el borde predeterminado del navegador */
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
        /* Sombra azul */
    }

    #search-bar:hover {
        border-color: #007BFF;
        /* Cambio de color del borde al pasar el ratón */
        /* Cambia el cursor a mano */
    }

    nav li:last-child {
        margin-right: 0;
        /* Aseguramos que no haya margen extra a la derecha */
        display: flex;
        justify-content: center;
        /* Centra el buscador en la barra de navegación */
        align-items: center;
    }

    .no-results {
        font-size: 17px;
        font-weight: bold;
        color: #ffffff;
        padding: 10px;
        width: 800px;
    }

    /*cesta (icono y contador)*/
    .cart {
        position: absolute;
        top: 99.2px;
        right: 55px;
        cursor: pointer;
    }

    #cart-icon {
        width: 55px;
        /* Ajusta el tamaño de la imagen de la cesta */
        height: auto;

    }

    #cart-icon:hover {

        /* Ajusta el tamaño de la imagen de la cesta */
        height: auto;
    }

    #cart-count {
        position: absolute;
        top: -5px;
        right: -14px;

        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 40px;
        font-weight: bold;
    }

    .cart button {
        background: none;
        border: none;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .cart button:focus {
        outline: none;
    }

    #cart-count {
        background-color: black;
        color: white;
        border-radius: 42%;
        padding: 0;
        font-size: 15px;
        margin-left: 8px;
        font-weight: bold;
        min-width: 25px;
        text-align: center;
    }

    .cart button::before {

        margin-right: 8px;
        font-size: 1.8rem;
    }

    #cart-icon.shake {
        animation: shake 0.4s ease;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-1.5px);
        }

        50% {
            transform: translateX(1.5px);
        }

        75% {
            transform: translateX(-1.5px);
        }

        100% {
            transform: translateX(0);
        }
    }

    /*cesta (seccion)*/
    #cart {
        border-radius: 3px;
        margin-top: 20px;
        color: rgb(0, 0, 0);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        max-width: 500px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 70px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 70px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    }

    .remove-btn {
        background-color: #111;
        /* Color de fondo (azul) */
        color: rgb(248, 248, 248);
        /* Color del texto */
        border: none;
        /* Eliminar borde */
        border-radius: 5px;
        /* Bordes redondeados */
        font-size: 10.5px;
        /* Tamaño de la fuente */
        padding: 1px 15px;
        /* Espaciado interno */
        cursor: pointer;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        /* Sombra suave */
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
        /* Transiciones suaves */

        /* Estilo al pasar el mouse */
        &:hover {
            background-color: #222;
            /* Cambiar a un tono más oscuro */
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
            /* Sombra más pronunciada */
        }

        /* Estilo al hacer clic */
        &:active {
            transform: scale(0.97);
            /* Reducir tamaño al hacer clic */
            box-shadow: none;
            /* Eliminar sombra al hacer clic */
        }
    }

    #cart h2 {
        font-size: 2rem;
        margin-bottom: 15px;
        color: rgb(0, 0, 0);
    }

    #cart-items {
        list-style: none;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #cart-items li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    #cart-items li span {
        font-size: 1.1rem;
    }

    #cart-total2 {
        font-size: 18px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin-top: 20px;
    }

    #cart-items:empty {
        text-align: center;
        font-size: 1.2rem;
        color: #777;
    }

    .cart-item-image {
        width: 40px;
        /* Ajusta el tamaño de la imagen */
        height: auto;
        margin-right: 10px;

        /* Espacio entre la imagen y el nombre del producto */
    }

    .item-image-container {
        display: inline-block;
        vertical-align: middle;
    }

    #checkout-button {
        background-color: #4CAF50;
        color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 3px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }

    #checkout-button:hover {
        background-color: #45a049;

    }

    /* formulario de pago */
    #payment-container {
        position: fixed;
        /* Posiciona el contenedor de manera fija */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f6f3f1;
        display: none;
        /* Oculto por defecto */
        justify-content: center;
        /* Centra el contenido horizontalmente */
        align-items: center;
        /* Centra el contenido verticalmente */
        z-index: 1000;
        padding: 200px;

        /* Asegura que esté por encima de otros elementos */
    }

    #payment-container h2 {
        color: #000000;
        /* Título en blanco */
        text-align: center;
        margin: 20px;
    }

    #payment-form {
        /* Fondo blanco para el formulario */
        width: 24%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding: 30px;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

        color: white;
        text-align: center;


        justify-content: center;
        /* Centra el contenido horizontalmente */
        align-items: center;
        /* Centra el contenido verticalmente */

    }

    #payment-form button {
        background-color: #5469d4;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
        width: 100%;
        font-size: 16px;
    }

    #payment-form button:hover {
        background-color: #4357b9;
    }

    #card-element {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 15px;
    }

    #card-errors {
        color: red;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Main */
    main {
        margin-top: 65px;
    }

    /*cuerpo*/
    body {
        font-family: arial, sans-serif;
        background-color: black;
        color: #333;
        line-height: 1.6;
        padding: 0px;
        position: relative;

        /* Necesario para posicionar el overlay */
    }

    /* Home Options */
    #home-options {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin-bottom: 130px;
        flex-wrap: wrap;
        /* Permite que los elementos se ajusten si es necesario */
        max-width: 100%;
        /* Asegura que el contenedor ocupe todo el ancho disponible */
    }

    #home-options div {
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
        padding: 17px;
        max-width: 750px;
        /* Controla el tamaño máximo del contenedor */
        flex-basis: 100%;
        /* Hace que cada div ocupe el ancho completo si el espacio es pequeño */
    }

    #home-options h2 {
        font-size: 23px;
        color: #ffffff;
        margin-bottom: 13px;

        text-shadow: 2px 2px 7px rgb(45, 45, 45);
    }

    #home-options img {
        max-width: 100%;
        /* Las imágenes se ajustarán al 100% del contenedor */
        height: auto;
        transition: transform 0.57s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;

    }

    #home-options img:hover {
        transform: scale(1.01);
        box-shadow: 0 0 13px rgb(0, 0, 0, 0.6);
    }

    /*Albums y canciones*/
    #album-list img:hover,
    #songs-list img:hover {
        transform: scale(1.0089);
        box-shadow: 0 0 13px rgb(0, 0, 0, 0.6);
    }

    #album-list,
    #songs-list {
        color: white;
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 55px;
        padding: 20px;
        margin-top: 15px;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 50px;

    }

    #album-list div,
    #songs-list div {

        text-align: center;
        margin-top: 10px;

        font-size: 14px;

    }

    #album-list button,
    #songs-list button {
        margin-top: 10px;
        cursor: pointer;
        background-color: #007BFF;
        border: none;
        padding: 7px 9px;
        border-radius: 5px;
        color: white;
        transition: background-color 0.3s ease;
        box-shadow: 0px 1px 12px rgba(255, 255, 255, 0.8);
    }

    #album-list button:hover,
    #songs-list button:hover {
        background-color: #006ee4;
        box-shadow: 0px 1px 11px rgba(255, 255, 255, 1);
    }

    #album-list button:active,
    #songs-list button:active {
        transform: scale(0.97);
        box-shadow: none;
    }

    #album-list img,
    #songs-list img {
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 5px;
        overflow: hidden;

    }

    #albums h3,
    #songs h3,
    #products h3 {
        color: white;
        text-align: center;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);

    }

    .titulo,
    .titulo2 {
        font-size: 23px;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);
    }

    /* El precio cambia cada dos productos */
    .price-label {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }

    .price-normal {
        color: #f5f5f5;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);
    }

    .price-discount {
        color: rgb(70, 255, 141);
        font-size: 14px;
        font-weight: bold;
        text-shadow: 2px 2px 7px rgb(45, 45, 45);

    }

    /* quien somos */
    #quien-somos {
        /* Fondo gris suave */
        padding: 40px 20px;
        /* Espaciado alrededor del contenido */
        text-align: center;
        /* Centrar el texto */
    }

    #quien-somos strong {
        color: #e74c3c;
    }

    #quien-somos .container {
        max-width: 1200px;
        /* Máximo ancho del contenido */
        margin: 0 auto;
        /* Centrar el contenedor */
        padding: 20px;
    }

    #quien-somos h2 {
        font-family: 'Lobster', sans-serif;
        font-size: 36px;
        /* Tamaño grande para el encabezado */
        color: #e74c3c;
        /* Color de texto oscuro */
        margin-bottom: 20px;
        font-weight: 600;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
        /* Sombra * /* Separación debajo del encabezado */
    }

    #quien-somos p {
        font-size: 16px;
        line-height: 1.6;
        /* Mayor espacio entre líneas para legibilidad */
        color: #ffffff;
        /* Color de texto gris oscuro */
        margin-bottom: 20px;
        /* Espacio entre párrafos */
        /* Limitar el ancho de los párrafos */
        margin-left: auto;
        margin-right: auto;
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
    }

    /* mensaje de "se ha anadido a la cesta" */
    .added-message {
        position: fixed;
        top: 20px;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        animation: fadeIn 0.2s forwards;
        /* Animación de aparición */
    }

    .added-message.fade-out {
        animation: fadeOut 0.2s forwards;
        /* Animación de desaparición */
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    /* Pie de pagina */
    footer {
        background-color: #1a1a1a;
        color: #ffffff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
    }

    footer .contenedor {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }

    footer .izquierda a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        margin-right: 15px;
        margin-left: 15px;
    }

    footer .izquierda a:hover {
        text-decoration: underline;
    }

    .pagos-seguro {
        text-align: center;
        padding: 20px 0;
    }

    .metodos-pago {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .metodos-pago img {
        max-height: 40px;

        transition-duration: 0.2s;
    }

    .metodos-pago img:hover {
        max-height: 40px;
        opacity: 0.88;
    }

    .metodos-pago p {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }

    footer hr {
        border: 0;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
        margin: 20px auto;
        width: 97%;


    }

    .derechos {
        font-size: 12px;
        opacity: 0.6;
        margin-top: 10px;
    }

    /* Oferta */
    .oferta-especial {
        background-color: #e8e8e8;
        text-align: center;
        padding: 3px 0;
        color: #737373;
        font-weight: 800;
        font-size: 11.6px;
        display: flex;
        justify-content: center;
        /* Centra horizontalmente */
        align-items: center;
        /* Centra verticalmente */
        gap: 8px;
        /* Espacio entre el texto y el contador reducido */
        overflow: hidden;
        white-space: nowrap;
    }

    .oferta-temporal {
        color: rgb(214, 47, 47);
    }

    /* contador */
    #countdown-container {
        display: flex;
        align-items: center;
        /* Centra verticalmente los elementos */
        background: #000;
        color: #f6f6f6;
        padding: 0px 6px;
        /* Padding reducido aún más */
        border-radius: 3px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        /* Sombra menos pronunciada */
        margin-left: 60px;
        /* Ajuste de margen */
        min-width: auto;

    }

    .countdown-text {
        font-size: 8px;
        /* Tamaño de fuente más pequeño */
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 7px;
        /* Espacio más pequeño entre el texto y los números */
    }

    #countdown {
        display: flex;
        gap: 4px;
        /* Espacio entre los números reducido aún más */
    }

    .time-box {
        background: #222;
        padding: 1px 3px;
        /* Padding más pequeño */
        border-radius: 3px;
        /* Radio de bordes más pequeño */
        font-size: 10px;
        /* Tamaño de fuente más pequeño */
        font-weight: bold;
        text-align: center;
        min-width: 20px;
        /* Ancho mínimo más pequeño */
        width: 20px;
        /* Ancho reducido aún más */
        color: #eeeeee;

    }

    .time-box small {
        display: block;
        font-size: 8px;
        /* Tamaño de fuente más pequeño */
        font-weight: normal;
        margin-top: 1px;

        color: #c4c4c4;
    }

    .oferta-finalizada {
        font-size: 9px;
        /* Tamaño de fuente */
        font-weight: 700;
        /* Texto en negrita */
        color: #ffffff;
        /* Color rojo para resaltar */
        text-transform: uppercase;
        /* Convertir texto a mayúsculas */
        margin: 5px 0;
        /* Margen superior e inferior */
        background-color: rgb(0, 0, 0);
        margin-left: 50px;
        border: 5.5px solid rgb(0, 0, 0);
        /* Borde rojo */
        border-radius: 3px;
        /* Bordes redondeados */
        display: inline-block;
        /* Para que no ocupe todo el ancho */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Sombra sutil */
        text-align: center;
        /* Centrar el texto */
    }

    /* tipo de envio */
    #envioGratis,
    #envioNoGratis {
        margin-top: 3px;
        padding: 3px;
        color: rgb(22, 22, 22);
        font-weight: bold;
        text-align: center;
        font-size: 13px;
        display: none;
        /* Inicia oculto */
        /* Para una transición suave al mostrar */
        border-bottom: 1px solid #cfcfcf;
        margin-right: 60px;
        margin-left: 60px;
        padding-bottom: 15px;
        margin-top: 8px
    }

    /* barra de carga 0.00/ 20.00 */
    @keyframes progressGlow {
        0% {
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        }

        50% {
            box-shadow: 0 0 20px rgba(0, 123, 255, 0.8);
        }

        100% {
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        }
    }

    @keyframes trailEffect {
        0% {
            opacity: 0.8;
            transform: scaleX(1);
        }

        100% {
            opacity: 0;
            transform: scaleX(1.5);
        }
    }

    .progress-container {
        margin: 10px 32px;
        background: linear-gradient(to right, #222, #444);
        border-radius: 19px;
        overflow: hidden;
        height: 15px;
        box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2);
        position: relative;
    }

    .progress-bar {
        height: 100%;
        width: 0%;
        background: linear-gradient(90deg, #007BFF, #00d4ff);
        text-align: center;
        line-height: 15px;
        color: white;
        font-weight: bold;
        transition: width 0.4s cubic-bezier(0.25, 1, 0.5, 1);
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
        animation: progressGlow 1.5s infinite alternate ease-in-out;
        position: relative;
    }

    .progress-bar::after {
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        width: 20px;
        height: 10px;
        background: rgba(255, 255, 255, 0.8);
        filter: blur(4px);
        transform: translateY(-50%);
        border-radius: 50%;
        animation: trailEffect 0.6s infinite alternate ease-in-out;
    }

    #progress-text {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 5px;
        color: #131313;
    }
    
}